name: pest

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v4
      - uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3'
      - uses: actions/setup-python@v6
        with:
          python-version: '3.11'
      - run: python -m pip install --upgrade pip
      - run: pip install deepface tf-keras
      - run: composer update --no-interaction --no-scripts
      - run: vendor/bin/pest
